---
import Layout from "../layouts/Layout.astro";
import Colores from "../templates/Colores.svelte";

let PROJECT_ID = "ybtc4em1";
let DATASET = "production";
let QUERY = encodeURIComponent('*[_type == "colour"]');

let URL = `https://${PROJECT_ID}.api.sanity.io/v2021-10-21/data/query/${DATASET}?query=${QUERY}`;

const response = await fetch(URL);
const data = await response.json();
const colors = data.result;
---

<Layout title="Colores">
  <main>
    <Colores colors={colors} client:visible />
  </main>
</Layout>
