---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const links = [
  {
    name: "Colores",
    url: "/colores",
  },
  {
    name: "Numeros",
    url: "/numeros",
  },
];
---

<Layout title="español">
  <main class="h-screen w-screen flex items-center justify-center">
    <ul role="list" class="text-center space-y-2 text-5xl lg:text-9xl">
      {
        links.map((link) => (
          <li>
            <a class="hover:text-pink-500" href={link.url}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    font-family: "CHANEY";
  }
</style>
