---
import Layout from "../layouts/Layout.astro";
import Numeros from "../templates/Numeros.svelte";

const data = [
  "1. uno",
  "2. dos",
  "3. tres",
  "4. cuatro",
  "5. cinco",
  "6. seis",
  "7. siete",
  "8. ocho",
  "9. nueve",
  "10. diez",
  "11. once",
  "12. doce",
  "13. trece",
  "14. catorce",
  "15. quince",
  "16. dieciséis",
  "17. diecisiete",
  "18. dieciocho",
  "19. diecinueve",
  "20. veinte",
  "21. veintiuno",
  "22. veintidós",
  "23. veintitrés",
  "24. veinticuatro",
  "25. veinticinco",
  "26. veintiséis",
  "27. veintisiete",
  "28. veintiocho",
  "29. veintinueve",
  "30. treinta",
  "31. treinta y uno",
  "32. treinta y dos",
  "33. treinta y tres",
  "40. cuarenta",
  "41. cuarenta y uno",
  "42. cuarenta y dos",
  "50. cincuenta",
  "60. sesenta",
  "70. setenta",
  "80. ochenta",
  "90. noventa",
  "100. ciento (cien)",
  "101. ciento uno",
  "102. ciento dos",
  "103. ciento tres",
  "110. ciento diez",
  "199. ciento noventa y nueve",
  "200. doscientos",
  "201. doscientos uno",
  "202. doscientos dos",
  "203. doscientos tres",
  "251. doscientos cincuenta y uno",
  "252. doscientos cincuenta y dos",
  "300. trescientos",
  "400. cuatrocientos",
  "500. quinientos",
  "600. seiscientos",
  "700. setecientos",
  "800. ochocientos",
  "900. novecientos",
  "1,000. mil",
  "2,000. dos mil",
  "3,000. tres mil",
  "3,333. tres mil trescientos treinta y tres",
  "1,000,000. un millón",
  "1,000,000,000. mil millones",
];
const numeros = [];

data.forEach((element) => {
  let arr = element.split(". ");
  numeros.push({
    number: arr[0],
    word: arr[1],
  });
});
---

<Layout title="Colores">
  <main>
    <Numeros client:visible numeros={numeros} />
  </main>
</Layout>
